* {
    bg:         #000000;
    bg-alt:     #000000;
    fg:         #ffffff;
    fg-dim:     #ffffff;

    accent:     #ffffff;
    urgent:     #ffffff;

    background-color: @bg;
    text-color: @fg;

    border: 0;
    spacing: 0;
}

window {
    width: 900px;
    location: center;
    anchor: center;

    background-color: @bg;

    border: 1px;
    border-color: @bg-alt;
    border-radius: 0;

    padding: 12px;
}

mainbox {
    spacing: 10px;
    children: [ inputbar, listview ];
}

inputbar {
    children: [ prompt, entry ];

    background-color: transparent;

    padding: 0 0 8px 0;

    border: 0 0 1px 0;
    border-color: @bg-alt;
}

prompt {
    text-color: @accent;
    padding: 0 8px 0 0;
}

entry {
    expand: true;
    placeholder: "Search wallpaper";
    placeholder-color: @fg-dim;
}

listview {
    columns: 4;
    lines: 3;

    layout: vertical;

    dynamic: true;
    cycle: true;

    scrollbar: false;

    spacing: 12px;
    padding: 4px;
}

element {
    orientation: vertical;

    padding: 8px;

    border: 1px;
    border-color: transparent;
    border-radius: 0;

    background-color: transparent;
    text-color: @fg;
}

element normal.normal {
    background-color: transparent;
}

element selected.normal {
    background-color: transparent;
    border-color: @accent;
}

element-text {
    horizontal-align: 0.5;
    vertical-align: 0.5;

    padding: 6px 0 0 0;
}

element-text selected.normal {
    text-color: @accent;
}

element selected.active {
    background-color: @accent;
    text-color: @bg;
}

element selected.urgent {
    background-color: @urgent;
    text-color: @bg;
}

element-icon {
    enabled: true;

    size: 180px;
    horizontal-align: 0.5;
}

mode-switcher {
    enabled: false;
}

message {
    enabled: false;
}
