configuration {
    show-icons: true;
    display-drun: "Wallpaper";
}

window {
    width: 800px;
}

mainbox {
    children: [ inputbar, message, listview ];
}

listview {
    columns: 4;
    lines: 3;
    spacing: 15px;
}

element {
    orientation: vertical;
    padding: 10px;
}

element-icon {
    size: 160px;
}

element-text {
    horizontal-align: 0.5;
}
@theme "gruvbox-wallpaper"
